.slider {

    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.image {
    width: 600px;
    height: 350px;
    border-radius: 10px;


}

.left-arrow {
    left: 50px;
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: rgb(243, 217, 217);
    z-index: 11;
    cursor: pointer;
    user-select: none;
}

.rigth-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: rgb(243, 217, 217);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    z-index: -1;
    transition-duration: 1s ease;
}

.slide.active {
    z-index: 1;
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}