time {
    color: #666666 !important;
    font-size: 13px;
    font-family: 'Georgia', 'Times New Roman', Times, serif
}

input[type="text"] {
    height: 50px;
}

b {
    display: block
}

.people-you-might-know {
    padding: 0 !important;
    margin-bottom: 10px;
    border-radius: 5px;
}

.btn-color {
    background-color: red;
}

.edit-btn-color {
    background-color: green;
}

.feed-item {
    height: 150px;
    padding: 15px;
    width: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #5d4954;
    color: rgb(243, 217, 217);
    border-radius: 15px 50px 30px 5px;
    ;


}

.feed-div {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: space-evenly;
    height: 400px;
    padding-bottom: 30px;
}

#txt-box {
    margin-left: 10px;
}

.trash {
    margin-top: 25px;
    width: 50px;
}

.trash:hover {
    filter: brightness(1.2);
}